.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container__canvas {
  width: 740px;
  height: 580px;
}

.video-container__canvas--wrapper {
  position: relative;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-top: 1px solid var(--border-color);
  width: 740px;
}

.controls__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__file {
  display: none;
}

.hide {
  display: none;
}